/*
.menu{
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu > .menu-item > a:hover {
    background-color: brown;
    color: white;
}
*/