.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgray;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}