h1{
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-align: center;
}

table{
    margin: 0px;
    border-collapse: collapse;
    margin: auto;
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px;
}
.negro-blanco{
    color: white;
    background-color: black;
}