.mediano{
    width: 200px;
    height: 250px;
}

.grande{
    width: 250px;
    height: 350px;
}

.pequeño{
    width: 150px;
    height: 200px;
}

.muypequeño{
    width: 100px;
    height: 150px;
}